[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
pandas = "*"
selenium-webdriver-common-keys = "*"
selenium-webdriver-common-action-chains = "*"

[requires]
python_version = "3.8"
